:root{
    --hero-bg-color: #1F2937;
    --hero-main-text: 48px bold #F9FAF8;
    --hero-secondary-text: 18px #E5E7EB;
    --header-logo: 24px #F9FAF8;
    --button-color: #3882F6;
    --info-text: 36px extra-bold #1F2937;
    --quote-text: 36px light-italic #1F2937;
    --quote-bgcolor: #E5E7EB;
    
}
/* ======================================================= */
/* ================== hero section =======================*/
/* ========= Mainly focusing on positioning =============*/
/* ====================================================== */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
    font-family: 'Poppins', sans-serif;
}
.hero{
    background-color: var(--hero-bg-color);
    color: white;
    padding-bottom: 70px;
    padding-top: 10px;
}
.hero-box{
    width: 75%;
    margin: 0px auto;
}
.nav-bar{
    margin-bottom: 70px;
    font-size: 18px;
    color: #fafaf8;
    overflow: hidden;
}
.logo{
    float: left;
    font-size: 24px;
    display: flex;
    text-align: center;
}
.nav-links{
    display: flex;
    justify-content: right;
}
.link{
    display: inline;
    list-style: none;
    padding-left: 15px;
    cursor: pointer;
}
.link:hover{
    border-bottom: 2px solid var(--quote-bgcolor);
    transition: all .2s ease-in-out;
}


/* Introduction section */
.intro{
    display: flex;
}

.intro div{
    width: 50%;
    
}

.intro h1{
    font-size: 48px;
    color: #F9FAF8;
}
.intro p{
    font-size: 18px;
    color: #F9FAF8;
}
.intro button{
    border: none;
    color: white;
    background-color: #3882F6;
    margin: 5px auto;
    width: 6rem;
    height: 27px;
    border-radius: 5px;
    padding: 0 7px;
    cursor: pointer;
} 
.intro button:hover{
    color: black;
    background-color: var(--quote-bgcolor);
    transition: all .4s ease-in-out;
}
.intro .left{
    margin-left: 5px;
}
.intro img{
    width: 100%;
}

/*  */


