:root{
    --hero-bg-color: #1F2937;
    --button-color: #3882F6;
    --quote-bgcolor: #E5E7EB;
}

/* ======================================================= */
/* ================== navigation and intro section ========*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
body{
    font-family: 'Poppins', sans-serif;

}
.hero{
    background-color: var(--hero-bg-color);
    color: white;
    padding-bottom: 70px;
    padding-top: 10px;
}
.hero-box{
    width: 75%;
    margin: 0px auto;
}
.nav-bar{
    margin-bottom: 70px;
    font-size: 18px;
    color: #fafaf8;
    overflow: hidden;
}
.logo{
    float: left;
    font-size: 30px;
    font-family: 'Sofia Sans Semi Condensed',sans-serif;
    display: flex;
    text-align: center;
    font-weight: 100;
    border: 2px solid #E5E7EB;
    border-radius: 7px;
    cursor: pointer;
}
.nav-links{
    display: flex;
    justify-content: right;
    font-family: 'Sofia Sans Semi Condensed',sans-serif;
    font-weight: 100;
    font-size: 30px;
}
.link{
    display: inline;
    list-style: none;
    margin-left: 15px;
    cursor: pointer;
    text-align: justify;
}
.link:hover{
    background-color: #E5E7EB;
    color: #1F2937;
    border-radius: 7px;
    transition: all .1s ease-in-out;
}


/* Introduction section */
.intro{
    display: flex;
}

.intro div{
    flex: 1;    
}

.intro h1{
    font-weight: 100;
    font-size: 48px;
    color: #F9FAF8;
}
.intro p{
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 100;
}
.intro button{
    border: none;
    color: white;
    background-color: #3882F6;
    margin: 10px auto;
    width: 6rem;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
} 
.intro button:hover{
    color: black;
    background-color: var(--quote-bgcolor);
    transition: all .4s ease-in-out;
}
.intro .left{
    margin-left: 5px;
}
.intro img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

/* ============================================================= */
/* ============ Information with Images section ================*/

.info-sec{
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 100px;
}
.info-sec h1{
    text-align: center;
    padding: 40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 200;
}
.info-sec .images{
    display: flex;
    gap: 30px;
}
.info-sec .images div:hover{
    transition: all .4s ease-in-out;
    border-top: 2px solid #1F2937;
    padding-top: 5px;
    cursor: pointer;
    overflow: hidden;
}
.info-sec .images img{
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.info-sec .images img:hover{
    box-shadow: #1F2937 5px 5px 15px;
    transition: all .4s ease-in-out;
    border-radius: 0px;
}
.info-sec p{
    text-align: left;
    font-weight: 100;
}

/* ============================================================= */
/* ===================== Quote section ========================*/

.quote{
    background-color: #E5E7EB;
    background-image: url(/Landing-Page-project/images/oblivion.jpg);
    width: 100%;
    height: auto;
    padding: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.position{
    width: 70%;
    margin: 0 auto;
    
}
.position cite{
    display: block;
    color: white;

}
.text{
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    text-align: left;
}
.author{
    float: right;
    color: #1F2937;
}

/* ============================================================= */
/* ===================== Sign up section ========================*/

.sign-up{
    width: 80%;
    height: 200px;
    padding: 0px 100px;
    margin: 100px auto;
    color: #fafaf8;
    background-color: #1F2937;
    border-radius: 7px;
    display: flex;
    align-items: center;
    font-family: var();
    font-weight: 100;
}
.call{
    display: flex;
    text-align: left;
    align-items: center;
    float: left;
}

.call .direction h1{
    font-size: 30px;
}
.btn{
    margin-left: 25rem;
    width: 150px;
    height: 30px;
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 7px; 
    cursor: pointer;
    float: right;
}
.btn:hover{
    background-color: #F9FAF8;
    color: #1F2937;
    transition: all .4s ease-in-out;
}

/* ============================================================= */
/* ========================= footer =============================*/
footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}
footer a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
    font-size: 15px;
}
footer a:hover{
    text-decoration: underline;
}